@font-face {
	font-family: 'BlackPink-Cursive-Demo';
	src: url("font/BlackPink-Cursive-Demo.otf");
}

@font-face {
	font-family: 'BranumCursive';
	src: url("font/BranumCursive.ttf");
}

@font-face {
	font-family: 'Lato-Medium';
	src: url("font/Lato-Medium.ttf");
}

@font-face {
	font-family: 'Milky Coffee';
	src: url("font/Milky Coffee.ttf");
}


html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
    min-height: 100vh;
}

.section-full {
    min-height: 100vh;
}

.section-half {
    min-height: 70vh;
}

.auto {
    margin-left: auto;
    margin-right: auto;
}

.cursive {
	font-family: 'BlackPink-Cursive-Demo';
    font-size: 150px;
    letter-spacing: 10px;
    line-height: 0.8;
}

h3 {
    font-family: 'Milky Coffee';
    font-size: 60px;
    letter-spacing: 10px;
}

h4 {
    font-family: 'Milky Coffee';
    font-size: 40px;
    letter-spacing: 10px;
}

p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.8;
}

.content {
    font-family: 'Lato-Medium';
    width: 50%;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.carousel, .carousel-img {
    min-height: 100vh;
    max-height: 100vh;
}

.pink-left-right {
    background-image: linear-gradient(to right, #FFE0E3, #F1ABB9);
}

.pink-right-left {
    background-image: linear-gradient(to right, #F1ABB9, #FFE0E3);
}

.justify-center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.anniversary-text {
    line-height: 2.0;
    letter-spacing: 2.0px;
    text-transform: uppercase;
}

.btn {
    min-width: 100px;
    min-height: 50px;
}

.btn:hover {
	transform: scale(1.2);
	transition: 0.5s ease;
}

.btn-white {
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    margin: 0px 20px;
    transition: 0.5 ease;
}

.btn-white:hover {
	opacity: 0.9;
	background-color: white;
	border-color: black;
	color:black;
    transition: 0.5 ease;
}

.btn-pink {
    background-color: #F1ABB9;
    border: solid 1px #F1ABB9;
    color: black;
    border-radius: 10px;
    margin: 0px 20px;
    transition: 0.5 ease;
}

.btn-pink:hover {
	opacity: 0.9;
	background-color: #F1ABB9;
	border-color: #F1ABB9;
	color:black;
    transition: 0.5 ease;
}


/*owl	 carousel styles*/
.owl-theme .owl-controls{
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
    display: inline-block;
    zoom: 1;
    *display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    filter: Alpha(Opacity=100);/*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: 400px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div{
    text-align: center;
    padding:50px 0px;
    margin:3px;
    color: black;
    font-size:32px;
    border:1px white;
}

.wrapper-with-margin{
    margin:0px 50px;
}

    
.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}
    
.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -45px;
    top: 55px; 
}
    
.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -45px;
    top: 55px;
} 

.owl-nav {
    font-size: 80px !important;
    color: black;
}

.owl-next {
    position: absolute;
    top: 180px;
    right: -40px;
}

.owl-prev {
    position: absolute;
    top: 180px;
    left: -40px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
		left: 31px;
	}
  
	/* Full-width containers */
	.timeline-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
  
	/* Make sure that all arrows are pointing leftwards */
	.timeline-container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.timeline-left::after, .timeline-right::after {
		left: 15px;
	}
  
	/* Make all right containers behave like the left ones */
	.timeline-right {
		left: 0%;
	}
}

@media screen and (max-width: 768px) {
	
	.content {
		width: 100%;
	}
  

}


